<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help page</title>
</head>
<body>
    {{>header pageTitle='Help page'}}
    <div style="text-align: center">
        <h1>
            {{someContent}}
        </h1>
        <div>
            Help info
        </div>
    </div>
    {{> footer}}
</body>
</html>